* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background: #343434;
  height: 100px;
  text-align: center;
}

header > svg {
  margin-top: 34px;
}

/* PRINCIPAIS USUARIOS */

.allUsers {
  display: flex;
  margin-top: 42px;
}

.tracinho {
  background-color: #343434;
  width: 5px;
  height: 22px;
  left: 71px;
  top: 225px;
}

.allUsers > h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #808080;
  margin-left: 8px;
}

/* CARDS */
.centraliza {
  display: flex;
  justify-content: center;
}

main {
  width: 1188px;
}

.cards {
  display: flex;
  margin-top: 42px;
  flex-wrap: wrap;
  justify-content: center;
}

/* STYLE FOOTER */
footer {
  height: 13px;
  background: #343434;
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
}
