* {
  padding: 0;
  margin: 0;
}

.title {
  display: flex;
  margin-top: 53px;
  align-items: center;
  /* justify-content: space-between; */
  width: 1140px;
  /* background-color: red; */
}

.title > h1 {
  width: 206px;
  height: 43px;
  left: 71px;
  margin-right: 824px;
  top: 153px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: #242d35;
}

.buttonBack {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 20px 12px 12px;

  width: 108px;
  height: 40px;
  left: 1101px;
  top: 154px;

  background: #ffffff;
  border: 1px solid #eaecee;
  box-sizing: border-box;
  border-radius: 32px;
}
.corpo {
  /* background-color: rebeccapurple; */
  display: flex;
  margin-top: 23px;
}

.description {
  /* background-color: aqua; */
  margin-right: 80px;
  width: 698px;
  /* height: 288px; */
}

.Overview {
  display: flex;
  /* background-color: blue; */
}

.Overview > h2 {
  width: 92px;
  height: 36px;

  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  font-size: 24px;
  line-height: 150%;
  color: #242d35;
  margin-right: 20px;
}

.Overview > button {
  margin-top: 5px;
  margin-right: 9px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* color: white; */
  border: none;
  border-radius: 12px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  height: 24px;
}

.js {
  background: #f1e05a;
  color: #000000;
  width: 77px;
}

.html {
  background: #e34c26;
  color: #f2f2f2;
  width: 53px;
}

.css {
  background: #563d7c;
  color: #f2f2f2;
  width: 43px;
}

.ts {
  background: #2b7489;
  color: #f2f2f2;
  width: 78px;
}

.json {
  background: #292929;
  color: #f2f2f2;
  width: 51px;
}

.description > p {
  margin-top: 24px;
  /* background-color: #2b7489; */
  width: 698px;
  /* height: 288px; */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #373f47;
}

.options {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  width: 701px;
  height: 91px;

  background: #f3f3f3;
  border-radius: 15px;
}

.card {
  margin: 0 12.5px;
  display: flex;
  width: 111.32px;
  height: 68px;
  border: 1px solid #eaecee;
  box-sizing: border-box;
  border-radius: 12px;
  background: #ffffff;
}

.card > svg {
  margin: 26.13px 2px 0 16.25px;
}

.information {
  width: 60px;
  text-align: center;
}

.name {
  margin: 14px 0 2px 3px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #373f47;
}
/* absldna */
.likes {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #4f5b67;
}

/* CSS PROFILE */

.profile {
  /* background-color: #2b7489; */
  padding-left: 191px;
}

.cardUser {
  width: 249px;
  height: 332px;
  background: #ffffff;
  /* background-color: red; */
  border: 1px solid #eaecee;
  box-sizing: border-box;
  border-radius: 12px;
  text-align: center;
  margin-right: 191px;
}

.cardUser > img {
  width: 86px;
  height: 86px;
  border-radius: 100%;
  margin-top: 22px;
}

.cardUser > h1 {
  color: #242d35;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  margin-top: 10px;
}

.cardUser > p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
  color: #4f5b67;
  margin-top: 4px;
}

/* TABLE DENTRO DO CARD */

table {
  margin: auto; /* centraliza a table */
  margin-top: 24px;
  border: none;
  border-collapse: collapse;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
}

table td,
table th {
  border-left: 1px solid #f1f1f1;
}

table td:first-child {
  border-left: none;
}

thead td {
  font-size: 12px;
  line-height: 150%;
  color: #a8b0b9;
  padding: 0 15px;
  padding-bottom: 4px;
}

tbody td {
  font-size: 14px;
  line-height: 150%;
  color: #373f47;
}

/* FIM DO STYLE TABLE */

.cardUser button {
  margin-top: 36px;
  background: #ffffff;
  border: 1px solid #eaecee;
  box-sizing: border-box;
  border-radius: 32px;
  width: 112px;
  height: 40px;
  /* style font */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  color: #0c1116;
  cursor: pointer;
}
