@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Roboto:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Roboto&display=swap");

body{
  background-color:#343434;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.titleImg{
  height: 30%;
  margin: 30px auto;
}
.homeImg{
  color: #fff !important;
  position: absolute;
  margin: 10px;

}

nav{
  position:relative; 
  top:0; 
  left:0%;
  width: 100vw;
  height: 100px;
  display: flex;
  background-color: #343434;
}

body{
  width: 1280PX;
  height: 90%;
  background-color: #fff;
  
}


.container {
  display: flex;
  width: 30%; /* define a largura do campo */ 
  align-items: center;
  justify-content: center;
  position: static;
  margin-top: 70px;
  margin-left: 100px;

}

.research{
  width: 104%;
  height: 40px;
  border-radius: 40px;
  padding: 0 20px;
  background: #FAFAFA;
  background-image: url(../img/searchIcon.png);
  background-position: 96%;
  background-repeat: no-repeat;
}

.button{
  position: relative;
  top: 0; 
  right: 50;
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #FAFAFA;
}
.mid{
  margin: auto;
  margin-bottom: 1px;
  min-height: 580px;
  width: 100vw;
}

h1{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 17px;
  line-height: 21px;
  color: #808080;
}

.title{
  margin-left: 110px;
  margin-top: 60px;
  border-left: #343434 5px solid;
  padding-left: 10px;
}

.peopleCard{
  display: flex;
  justify-content: space-evenly;
  max-width: 1137px;
  flex-wrap: wrap;
  background-color: #fff;
  margin: auto;
}

.indivCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 249px;
  border: 1px solid #EAECEE;
  margin-bottom: 30px
}

.profilePic{
  border-radius: 100%;
  width: 100px;
  margin: 12px 0 4px 0;
}

.indivCard > .indivName{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 0;
  
  /* identical to box height, or 21px */
  color: #242D35;
  
  text-align: center;
}
.indivCard > .indivJob{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  margin-top: 01vh;
  color: #4F5B67;
}

table{
  margin: 2vh 0;
}
th{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;  
  /* identical to box height, or 18px */
  
  text-align: center;
  
  /* Gray/400 */
  
  color: #A8B0B9;
}
td{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */
  
  text-align: center;
  width: 30%;
  /* Gray/700 */
  
  color: #373F47;
}

td + td, th + th  { 
  border-left: 2px solid #F1F1F1; 
}
.seeIndiv{
  left: calc(50% - 112px/2);
  bottom: 28px;
  
  
  background: #FFFFFF;
  
  border: 1px solid #EAECEE;
  box-sizing: border-box;
  border-radius: 32px;
  background-color: #fff;
  border-radius: 40px;
  width: 60%;
  padding: 3%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;  
  color: #0C1116;
  margin-bottom: 3vh;
  
}


footer{
  display: block;
  padding: 20px;
  height: 1vh;
  background-color: #343434;
  width: 100vw;

}