@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Roboto:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
}
body {
  background: #ffffff;
  max-width: 1280px;
  margin: 0 auto;
}

.logoNav{
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #343434;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
}

.main{
  margin: 142px 30px;
}

.searchOut{
  display: flex;
  /* justify-content: center; */
}

.search{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  width: 545px;
  height: 40px;
  background: #fafafa;
  border: 1px solid #d6dade;
  box-sizing: border-box;
  border-radius: 24px;
  margin: 0px;
  margin-bottom: 56px;
}

.searchInput {
  border: none;
  background: #FAFAFA;
  width: 100%;
  height: 100%;
}

.title{
  display: flex;
  /* justify-content: center; */
}

.verticalRetangle{
  width: 5px;
  height: 22px;
  background: #343434;
  margin-right: 8px;
}

.titleText{
  display: flex;
  align-items: center;
  color: #808080;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
}

.cards{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 50px;
}

.card{
  width: 249px;
  height: 332px;
  
  /* Base/background white */
  
  background: #FFFFFF;
  /* Gray/200 */
  
  border: 1px solid #EAECEE;
  box-sizing: border-box;
  border-radius: 12px;
}

.card > img{
  width: 86px;
  height: 86px;
  border-radius: 50%;
  left: 81px;
  top: 22px;
  margin: 22px 0px 10px 81px;
}

.card > p{
  display: flex;
  width: 85px;
  height: 21px;
  margin-left: 81px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #242D35;
}

.card > small{
  width: 52px;
  height: 18px;
  margin-left: 98px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
  color: #4F5B67;
}

.features{
  display: flex;
  margin-top: 30px;
  margin-left: 33px;
  margin-bottom: 20px;
}

.split{
  width: 0px;
  border: 1px solid #F1F1F1;
}

.projects > p{
  width: 44px;
  height: 18px;
  margin-right: 11px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
  
  color: #A8B0B9;
}

.projects > small{
  width: 16px;
  height: 21px;
  margin-left: 12px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  color: #373F47;
}

.stars > p{
  width: 44px;
  height: 18px;
  margin-left: 19px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
  
  color: #A8B0B9;
}

.stars > small{
  width: 16px;
  height: 21px;
  margin-left: 21px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  color: #373F47;
}

.followers > p{
  width: 44px;
  height: 18px;
  margin-left: 8px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
  
  color: #A8B0B9;
}

.followers > small{
  width: 16px;
  height: 21px;
  margin-left: 25px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  color: #373F47;
}

footer{
  width: 100%;
  height: 13px;
  background: #343434;

  position: fixed;
  bottom: 0;
  left: 0;
}

.card > button{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 13px 20px;
  width: 112px;
  height: 40px;
  margin-left: 68px;
  margin-top: 36px;

  background: #FFFFFF;
  border: 1px solid #EAECEE;
  box-sizing: border-box;
  border-radius: 32px;
}


/* PAGINA DE PROJETOS */

.titleProjects{
  display: flex;
}

.cardProjects{
  width: 263px;
  height: 171px;
  /* Base/background white */
  background: #FFFFFF;
  /* Gray/200 */
  border: 1px solid #EAECEE;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 24px 30px 24px 24px;
}

.titleCardsProjects{
  display: flex;
  width: 36px;
  height: 36px;
  background: #343434;
  border-radius: 4px;
}

.titleProjectCards{
  width: 47px;
  height: 27px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #242D35;

  margin-top: 5px;
  margin-left: 16px;
}

.textProjectCard{
  width: 209px;
  height: 36px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #4F5B67;
  margin-top: 16px;
  margin-bottom: 16px;
}

.btnProjectCard{
  width: 59px;
  height: 18px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #3333D1;
  text-decoration: none;
}

/* PAGINA DE SHOW PROJECT*/

.showBody{
  display: flex;
  justify-content: space-between;
}

.showTitle{
  width: 206px;
  height: 43px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 1000;
  font-size: 36px;
  line-height: 120%;
  color: #242D35;
}

.showSubTitle{
  display: flex;
  margin-top: 23px;
}

.showSubTitleText{
  width: 92px;
  height: 36px;

  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  font-size: 24px;
  line-height: 150%;
  color: #242D35;
}

.showVerifiedBox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* padding: 5px 10px 7px; */
  
  width: 62px;
  height: 24px;
  margin-left: 20px;
  margin-top: 8px;
  
  /* Green/500 */
  
  background: #44C13C;
  border-radius: 12px;
}

.showVerified{
  width: 42px;
  height: 12px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  color: #F6FFF0;
  
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}

.showText{
  width: 698px;
  height: 288px;
  margin-top: 24px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #373F47;
}

.showBodyCards{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.showBackBtnBox{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* padding: 12px 20px 12px 12px; */
  
  width: 108px;
  height: 40px;
  
  /* Base/background white */
  
  background: #FFFFFF;
  /* Gray/200 */
  
  border: 1px solid #EAECEE;
  box-sizing: border-box;
  border-radius: 32px;
}

.svgBackBtn{
  margin-left: 14px;
}

.showBackBtn{
  width: 100%;
  height: 100%;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #0C1116;
  background-color: #FFFFFF;
  border-radius: 32px;
  border: none;
}

.projectsStats{
  display: flex;
}

.stats{
  display: flex;
  width: 360px;
  height: 86px;
  align-items: center;

  background: #FFFFFF;
  border: 1px solid #EAECEE;
  box-sizing: border-box;
  border-radius: 12px;
  margin: 20px 0px;
}

svg{
  margin-left: 30px;
}

.statsData{
  margin-left: 31px;
}

.statsTitle{
  width: 26px;
  height: 14px;
  margin-bottom: 8px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 100%;
  color: #373F47;
}

.statsSubTitle{
  width: 36px;
  height: 24px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #4F5B67;
}