.projectAllCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    margin-top: 50px;
}

.projectCard {
    width: 240px;
    height: 171px;
    margin: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #ffffff;
    border: 1px solid #eaecee;
    box-sizing: border-box;
    border-radius: 12px;
}

.projectCardTitle {
    display: flex;
    align-items: center;
}

.projectCardTitle>img {
    margin-right: 16px;
    height: 36px;
    width: 36px;
    border-radius: 4px;
}

.projectCardTitle>h1 {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
    font-size: 18px;
    color: #242d35;
    text-decoration: none;
}

.projectCardTitle>p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #4f5b67;
    margin-left: 40px;
    margin-top: 0px;
}

.projectCard>p {
    margin-top: 16px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #4f5b67;
}

.projectCardTitle>a {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
    font-size: 18px;
    color: #242d35;
    text-decoration: none;
}

.stats {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 174px;
    height: 65px;
}

.statsText {
    display: inline;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #373f47;
    margin: 3px;
}

.circle {
    width: 12px;
    height: 12px;
    background-color: yellow;
    margin: 5px;
    border-radius: 50%;
}