@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Roboto:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Roboto&display=swap");


.projectCards{
    padding: 5vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    justify-content: space-evenly;
    width: 80vw;
    
}

.indivProject{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid #EAECEE;
    width: 14vw;
    min-width: 150px;
    padding: 2%;
}

.projectName{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;

    margin-bottom: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */


    /* Gray/800 */

    color: #242D35;
}

.projectDescription, .langName{
    margin-top: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;

    color: #4F5B67;
}

.cardRodape{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}
.language{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.langColor{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #fff;
    margin-right: 1px;
    
}

.stats, .stars, .forks{
    display: flex;
    flex-direction: row;
}
.stats{
    gap: 5px;
}


.data{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
}