@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html{
    width: 100%;
}

body{
    font-family: Roboto;
    box-sizing: border-box;
}

nav{
    background: #343434;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav > img{
    width: 142px;
    height: 33px;
}

.container{
    max-width: 1280px;
    padding: 70px 0px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.search{
    background-color: #FAFAFA;
    border-radius: 24px;
    height: 40px;
    width: 545px;
    border: 1px solid #D6DADE;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 73px;
    margin-top: 35px;
}

.search > input{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    border: 0;
    outline: none;
    width: 90%;
    background-color: transparent;
}

.search > input::placeholder{
    color: #D6DADE;
}

.title{
    margin-top: 57px; 
    display: flex;
    align-items: center;
    margin-left: 73px;
}

.title > h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: #808080;
    margin-left: 10px;
}

.bar{
    width: 5px;
    height: 22px;
    background: #343434;
}

.cards{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
    margin: 0 73px;
    margin-top: 35px;
}

.card{
    width: 249px;
    height: 332px;
    background: #FFFFFF;
    border: 1px solid #EAECEE;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card > img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 20px;
}

.name{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    margin-top: 0.8em;
    color: #242D35;
}

.company{
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    margin-top: 0.3em;
    color: #4F5B67;
}

.description{
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;
    color: #A8B0B9;
}

.number{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    color: #373F47;
}

.details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin-top: 2em;
    text-align: center;
}

.bar-vertical{
    width: 0px;
    height: 35px;
    border: 1px solid #F1F1F1;
}

.card > button{
    margin-top: 2.4em;
    width: 112px;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #EAECEE;
    box-sizing: border-box;
    border-radius: 32px;
    font-size: 14px;
}

.cards-project{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 12.5px;
    margin: 0 73px;
    margin-top: 35px;
}

.card-project{
    background: #FFFFFF;
    border: 1px solid #EAECEE;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    width: 215px;
    cursor: pointer;
}

.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon{
    background: #343434;
    border-radius: 4px;
    width: 36px;
    height: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon > img{
    width: 50%;
}

.project{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
}

.visibility{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
}

.abstract{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #4F5B67;
    margin-top: 2em;
}

.card-project > a{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #3333D1;
    text-decoration: none;
    margin-top: 2em;
}

.footer-project{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 0 20px;
    margin-top: 20px;
}

.language{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
}

.language > p{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
}

.color{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 6px;
}

.icons-project{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60px;
}

.number{
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    margin-left: 3px;
}

.icones{
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer{
    width: 100%;
    height: 13px;
    background: #343434;
    position: fixed;
    left: 0px;
    bottom: 0px;
}

.product-title{
    display: flex;
    justify-content: space-between;
}

.product-title > h1{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    color: #242D35;
}

.btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px 12px 12px;
    width: 108px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #EAECEE;
    box-sizing: border-box;
    border-radius: 32px;
    cursor: pointer;
}

.btn > button{
    border: none;
    cursor: pointer;
    background: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #0C1116;
}

.main-project{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2.9em;
}

.layout{
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 520px;
}

.overview{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.overview > h2{
    font-style: italic;
    font-weight: 100;
    font-size: 24px;
    line-height: 150%;
}

.techs{
    display: flex;
    width: 420px;
    gap: 8px;
}

.tech{
    width: 78px;
    height: 24px;
    background: #44C13C;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    color: #F6FFF0;
}

.project-description{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.p2{
    margin-top: 2em;
}

.infos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 701px;
    height: 91px;
    background: #F3F3F3;
    border-radius: 15px;
    padding: 0 20px;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #EAECEE;
    box-sizing: border-box;
    border-radius: 12px;
    width: 111.32px;
    height: 68px;
    padding: 12px;
    text-align: center;
}

svg{
    width: 18px;
    height: 18px;
}

.info-details{
    margin-left: 10px;
}

.info-description{
    font-weight: 500;
    margin-bottom: 0.4em;
    font-size: 14px;
}

.info-invoicing{
    font-weight: 400;
    font-size: 16px;
    color: #4F5B67;
}

.profile{
    display: flex;
    align-items: center;
}